<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des enseignants</title>
<link rel="stylesheet" th:href="@{/css/enseignant/listEnseignant.css}"/>
</head>
<body>
	<h1>Liste des enseignants</h1>
	
	<div id="action">
		<ul>
			<li class="action"><a class="lienAction" th:href="@{/newEnseignant}"><img class="icon" th:src="@{/images/newUti.png}"/></a></li>
			<li class="action"><a class="lienAction" th:href="@{/triEnseignantAsc}"><img class="icon" th:src="@{/images/triAsc.png}"/></a></li>
			<li class="action"><a class="lienAction" th:href="@{/triEnseignantDesc}"><img class="icon" th:src="@{/images/triDesc.png}"/></a></li>
		</ul>	
	</div> 
	
	<div id="conteneur" th:each="ens : ${ listEnseignant }">
		<div class="blockPhoto">
			<a th:href="@{'/infoEnseignant/' + ${ens.id}}"><img th:src="@{ ${ ens.photo }}"/></a>
		</div>
		<div class="blockEnseignant">
			<div th:text="${ ens.numero_enseignant }"></div>
			<div th:text="${ ens.nom }"></div>		
			<div th:text="${ ens.prenom }"></div>		
			<div th:text="${ ens.date_naissance }"></div>		
			<div th:text="${ ens.sexe }"></div>		
			<div th:text="${ ens.grade }"></div>		
			<div th:text="${ ens.date_embauche }"></div>	
		</div>
		<div class="blockMatiere" th:each="mat : ${ ens.listMatiere }">	
			<div th:text="${ mat.numero_matiere }"></div>	
			<div th:text="${ mat.nom }"></div>	
			<div th:text="${ mat.coef }"></div>	
		</div>
	</div>
	
</body>
</html>