<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Liste des étudiants</title>
<link rel="stylesheet" th:href="@{/css/etudiant/listEtudiant.css}"/>
</head>
<body>
	<h1>Liste des étudiants</h1>
	
	<div id="conteneur" th:each="etu : ${ listEtudiant }">
		<div class="blockEtudiant">
			<a th:href="@{'/infoEtudiant/' + ${etu.id}}">Plus d'info</a>
			<div th:text="${ etu.numero_etudiant }"></div>
			<div th:text="${ etu.nom }"></div>		
			<div th:text="${ etu.prenom }"></div>		
			<div th:text="${ etu.date_naissance }"></div>		
			<div th:text="${ etu.sexe }"></div>	
		</div>
		<div id="blockNote"  th:each="not : ${ etu.listNote }">	
			<div th:text="${ not.note }"></div>	
		</div>
	</div>
	
</body>
</html>