<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Liste des matieres</title>
<link rel="stylesheet" th:href="@{/css/inc/header.css}"/>
<link rel="stylesheet" th:href="@{/css/matiere/listMatiere.css}"/>
</head>
<body>

	<header th:insert="inc/header.html"> </header>
		
	<h1>Liste des matieres</h1>
	
	<div id="conteneur" th:each="mat : ${ listMatiere }">
		<div class="blockMatiere">
			<a th:href="@{'/infoMatiere/' + ${mat.id}}">Plus d'info</a>
			<div th:text="${ mat.numero_matiere }"></div>
			<div th:text="${ mat.nom }"></div>		
			<div th:text="${ mat.coef }"></div>		
			<div th:text="${ mat.date_debut }"></div>		
			<div th:text="${ mat.date_fin }"></div>	
		</div>
		
	</div>
	
</body>
</html>